body{
    margin: 0;
    padding: 0;
}
.futerfuter{

    width: 100%;
    background-color: black;
    height: 336px;
    display: flex;
    align-items: center;
}
.footercont{
    width: 960px;
    height: 204px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.foot_left{
    width: 388px;
    height: 220px;
    background-color: #050505;
}
.futer_logon_{
    width: 181px;
height: 31.162px;
align-items: flex-end;
gap: 11px;
flex-shrink: 0;
display: flex;
}
.g{
    font-size: 19px;
    color: aliceblue;
}
.futer_carts_van{
    width: 32px;
    height: 28.571px;
}
.futer_logon{
    width: 138px;
    height: 31px;
    font-size: 24px;
}
.foot_lefttecst{
    width: 388px;
    height: 66.345px;
    color: #ffffff;
    font-size: 16px;
}
.foot_right{
    width: 100px;
    height: 108px;
    background-color: #000000;
}
.foot_mid{
    width: 93px;
    height: 151px;
    background-color: #000000;
}
.foot_mid_tu{
    color:  rgb(255, 255, 255);
    width: 93px;
    height: 151.789px;
    gap: 25px;
    flex-shrink: 0;
    list-style: none;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.foot_right_tu{
width: 100px;
height: 107.559px;
flex-direction: column;
align-items: flex-start;
gap: 25px;
flex-shrink: 0;
display: flex;
    flex-direction: column;
    color: azure;
    list-style: none;
}
.T{
    background: var(--Gradient-1, linear-gradient(104deg, #FC84FF 13.23%, #54D1FA 91.95%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.u{
    width: 28.8px;
height: 24px;
flex-shrink: 0;
color: darkgray;
}
.r{
    display: flex;
    width: 306.287px;
    height: 24.125px;
    align-items: flex-start;
    gap: 30px;
}
.y{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.i{
    width: 31.487px;
    height: 24px;
    flex-shrink: 0;
}
/* .futercarts{
    margin-top: 62.49px;
    margin-left: 721px;
}
.futertecst{
color: var(--main-white, #FFF);
}
.futertecst2{
    width: 388px;
    height: 66.345px;
    flex-shrink: 0;
    color: var(--main-white, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.leftulfuter{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 93px;
    height: 151.789px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    color: azure;
}
.futercarts3{
margin-left: 1289px;
margin-top: 79.77px;
}
.futercarts4{
    margin-left: 1289px;
margin-top: 79.77px;
margin-bottom: 108.21px;
    display: flex;
    width: 100px;
    height: 107.559px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    color: azure;
}
.futer9{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-1, linear-gradient(104deg, #FC84FF 13.23%, #54D1FA 91.95%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.futer7{
    margin-left: 1537px;
    margin-top: 79.41px;
} */
