body{
    margin: 0;
    padding: 0;
}

.main_roma{
    background-color: black;
}
h1{
    text-align: center;
    font-family: Gilroy;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(104deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
h2{
    color: var(--main-white, #FFF);
text-align: center;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
color: #FC84FF;
}
h3{
    color: #67C6FF;
text-align: center;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
color: #5B6978;

}
.monetka{
    width: 400px;
    height: 400px;
    margin: auto;
   
}
@media screen and (max-width: 768px){
    .monetka{
        width: 200;
        height: 200px; 
       
    }
}
.ass{
    position: relative;
}
.ruka{
    position: absolute;
    top: 350px;
    
}
.ruka2{
  
    position: absolute;
    top: 200px;
    right: 0;
}
@media screen and (max-width: 1440px){
.ruka2{
    position: absolute;
    right: 0;
    width: 665px;
    height: 270px;
}

}