body{
    margin: 0;
    padding: 0;
}


.line_1{
    width: 1563px;
    height: 2px;
    background-color:#253647 ;
}
.line_2{
    width: 1205px;
    height: 2px;
    background-color: #2c4157 ;
    margin-top: 100px;
    margin-left: 176px; 
}
.text_line{
    color: #000000;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 500px;
margin-top: 77px;

}
.text_boxik{
    width: 1205px;
    height: 82px;
   background-color: #0a0a0a;
    flex-shrink: 0;
    margin-left: 176px; 
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.gray{

   background-color: #242d35;

}
.text_box2{
    width: 1205px;
    height: 82px;
   background-color: #000000;
    flex-shrink: 0;
    margin-left: 176px; 
}
.text_box3{
    width: 1207px;
    height: 122px;
   background-color: #242d35;
    flex-shrink: 0;
    margin-left: 176px; 
}
.text_box4{
    width: 1205px;
    height: 82px;
   background-color: #000000;
    flex-shrink: 0;
    margin-left: 176px; 
}
.text_box5{
    width: 1205px;
    height: 82px;
   background-color: #242d35;
    flex-shrink: 0;
    margin-left: 176px; 
}
.dawn_line{
    width: 1563px;
    height: 2px;
    background-color:#253647 ;
    margin-top: 100px;
}
.text1lll{
 color:white ;
 margin-left: 35px;
}
.text2lll{
    color:white ;
 margin-left: 35px;
}
.caret{
    top: 33px;
   right: 20px;
    position: absolute;

}
=======
.futerfuter{

    width: 100%;
    background-color: black;
    height: 336px;
    display: flex;
    align-items: center;
}
.footercont{
    width: 960px;
    height: 204px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.foot_left{
    width: 388px;
    height: 220px;
    background-color: #f50909;
}
.futer_logon_{
    width: 181px;
height: 31.162px;
align-items: flex-end;
gap: 11px;
flex-shrink: 0;
display: flex;
}
.g{
    font-size: 19px;
    color: aliceblue;
}
.futer_carts_van{
    width: 32px;
    height: 28.571px;
}
.futer_logon{
    width: 138px;
    height: 31px;
    font-size: 24px;
}
.foot_lefttecst{
    width: 388px;
    height: 66.345px;
    color: #ffffff;
    font-size: 16px;
}
.foot_right{
    width: 100px;
    height: 108px;
    background-color: #FC84FF;
}
.foot_mid{
    width: 93px;
    height: 151px;
    background-color: #FC84FF;
}
/* .futercarts{
    margin-top: 62.49px;
    margin-left: 721px;
}
.futertecst{
color: var(--main-white, #FFF);
}
.futertecst2{
    width: 388px;
    height: 66.345px;
    flex-shrink: 0;
    color: var(--main-white, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.leftulfuter{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 93px;
    height: 151.789px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    color: azure;
}
.futercarts3{
margin-left: 1289px;
margin-top: 79.77px;
}
.futercarts4{
    margin-left: 1289px;
margin-top: 79.77px;
margin-bottom: 108.21px;
    display: flex;
    width: 100px;
    height: 107.559px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    color: azure;
}
.futer9{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Gradient-1, linear-gradient(104deg, #FC84FF 13.23%, #54D1FA 91.95%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.futer7{
    margin-left: 1537px;
    margin-top: 79.41px;
} */

