.van{
width: 380px;
height: 220px;
}
.tu{
    width: 342px;
    color: #C1ABFF;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
}
.tre{
    width: 369px;
    color: var(--main-white, #FFF);
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
}